/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --button-color: #ff0070;
  --info-color: #f1b2ce;
  --links-color: #f1b2ce;
  --button-hover: rgba(255, 0, 112, 0.4);
  --border: #ff0070;
  --decor-color: #ff0070;
  --title-color: #ff0070;
}

.theme-dark .header__decoration-dark {
  display: flex;
  }