/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --button-color: #ff0070;
  --info-color: #f1b2ce;
  --links-color: #f1b2ce;
  --button-hover: rgba(255, 0, 112, 0.4);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-famaly-text: 'IBM Plex mono', sans-serif;
  --border: #ff0070;
  --decor-color: #ff0070;
  --title-color: #ff0070;
}